* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Lato', sans-serif;
  }
  
  .section-form {
    width: 37em;
    margin: 3em auto;
    background-color: #f3efe7;
    padding: 2em;
  }
  .section-form .intro {
    margin-bottom: 2em;
  }
  .section-form h1 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 0.6em;
  }
  .section-form h2 {
    text-align: center;
    font-size: 1.23077em;
  }
  
  input[type=text], input[type=file] {
    height: 45px;
  }
  
  label.myLabel input[type="file"] {
    position:absolute;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
}
.myLabel:hover {
    background: #CCC;
}
.myLabel:active {
    background: #CCF;
}
.myLabel :invalid + span {
    color: #A44;
}
.myLabel :valid + span {
    color: #4A4;
}
  input[type=text], textarea {
    width: 100%;
    margin-bottom: 1em;
    font-size: .9em;
    color: #cfcece;
    font-weight: 300;
    padding: .5em 1em;
    border: none;
    color: #555555;
    font-weight: 300;
  }
  
  /* Make the label look like a button*/
.toggle-label{
  border: 2px solid black;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-top: 20px;
}

/* Make the checkbox dissapear */
#cbToggleVisibility{
  position: absolute;
  left: -999999999px;
}

/* Make the #target display: none by default */
.target{
  display: none;
}

/* 
Here is where the magic happens! 
This is where the actual toggle visibility happens.
*/
#cbToggleVisibility:checked ~ .target{
  display: block;
}
.location{
  margin: 20px auto;
}

button{
  cursor: pointer;
  margin: 0;
  padding: .5em 2em;
  background: #636363;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}